@import './themes.scss';

button {
  outline: none !important;
  border: none !important;
}

h5, h6, p {
  margin: 0;
}

.btn {
  cursor: pointer;
  min-width: 100px;
  font-size: 15px;
  font-weight: 700;
  padding: 8px 10px;
  border-radius: 5px;

  i {
    margin-right: 8px;
  }
}

.primary-btn {
  @extend .btn;
  background: $primary;
  color: $white;
}

.secondary-btn {
  @extend .btn;
  background: $secondary;
  color: $white;
}

.grey-btn {
  @extend .btn;
  background: $grey-bg;
  color: $white;
}
